.section {
  &__blue {
    color: map-get($theme, 'white');
    background-color: map-get($theme, 'blue');
  }

  &__purple {
    color: map-get($theme, 'white');
    background-color: map-get($theme, 'purple');
  }

  &__teal {
    color: map-get($theme, 'white');
    background-color: map-get($theme, 'teal');
  }

  &__light-gray {
    background-color: map-get($theme, 'light-gray');
  }

  &__pattern {
    background-image: url('/images/pattern.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}